body {
    margin-top: 100px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/01.jpg) no-repeat center center fixed;
    font-size: 30px; 
    color: #fff;
}

h1{
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #565656;
}

h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}