	html, body {
		height: 100%;
	}
	
	body {
		margin: 0px;
		padding: 0px;
		font-family: 'Quicksand', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
		background: #031f4f
	}
	
	a:link   {   
 	text-decoration:none;   
	}  

	h1, h2, h3 {
		margin: 0;
		padding: 0;
		color: #404040;
	}
	
	p, ol, ul {
		margin-top: 0;
	}
	
	ol, ul {
		padding: 0;
		list-style: none;
	}
	
	p {
		line-height: 180%;
	}
	
	a {
		color: #004571;
	}
	
	a:hover {
		text-decoration: none;
	}
	

	.container {
		/*margin: 0px auto;
		width: 1200px;*/   /* este codigo centraliza a todos los contenedores con esta clase en el centro con el tamaño 1200px de ancho */
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button {

	}
	
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title {

	}
	
	.title h2 {

	}
	


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper {

		background: url(../images/background.jpg) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;

	}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
	
	#logo h1 {

	}
	
	#logo a {

	}
	
	#logo span {

	}

	#logo span a {

	}
	

/*********************************************************************************/
/* NAV                                                                          */
/*********************************************************************************/

	
	#nav ul {
		width: 480px;
		background: #031f4f; 
		margin-left: 100px; 
		margin-top: 50px; 
		color: #fff; 
		font-size: 15px;
	}
 
  /* Display Inline */

  	#nav li {
    	display: inline-block;
    	 /* top right bottom left*/
    	margin: 7px 0px 7px 15px;


  	}
	


	
	#menu li {
	}
	
	#menu li a, #menu li span {

	}
	

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper {
		background: #ccc;
		text-align: center;

	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper {
		background-color: white;
		border: 1px solid green;
		height: 900px

	}


/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column {
		border: 1px solid red;
		background-color: white;

	}
	
	#three-column h2 {

	}
		
	#three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
 		border: 1px solid yellow;
 		width: 200px;
 		float: left;
 		margin: 20px 50px;
	}
	
	#three-column .title {

	}
	
	#three-column .title h2 {

	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/
	
	#portfolio {
		clear: both;
	}
	#portfolio .box {
		border: 1px solid blue;
 		width: 200px;
 		float: left;
 		margin: 20px 50px;
	}
	
	#portfolio h3 {

	}

	#portfolio .title {

	}

 	#portfolio .title h2 {

	}

	.column1, .column2, .column3, .column4 {
	}
	
	.column1, .column2, .column3 {

	}
	
	.column4 {

	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright {
		clear: both;
		color: #fff;
		text-align: center;

	}
	
	#copyright p {

	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact li {
		color: #fff;

	}
	
	ul.contact li span {

	}
	
	ul.contact li a {

	}
	
	ul.contact li a:before {

	}	